.read_more a{
  color:grey;
}

.top_p a{
  color: #CD853F;
}


.see_trends a{
  color:#8c7687;
}

.card__date {
	background: orange;
	position: relative;
	width: 45px;
	height: 45px;
  border-top-left-radius: 20px;
	color:#fff;
	text-align: center;
	line-height: 13px;
	font-weight: bold;
  padding-top: 10px;
}
.card__date__day{
		display: block;
		font-size: 14px;
	}

.card__date__month {
		display: block;
		font-size: 10px;
		text-transform: uppercase;
	}




.carousel-control-prev-icon,
.carousel-control-next-icon {
   filter: invert(100%);

}



.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);


}

.carousel-indicators .active {
  background-color: #55186e;
}

.site-section {
  padding: 2.5em 0; }
@media (min-width: 768px) {
  .site-section {
    padding: 7em 0; } }
.site-section.site-section-sm {
  padding: 4em 0; }

.half-post-entry {
  border-radius: 20px;

}

.half-post-entry .img-bg{
  border-radius: 20px;
}
.half-post-entry .contents hr{
  border: 1px solid blue;
  width:90%;
  position: relative;
  margin-left: 0;
}

@media screen and (max-width: 600px){
  .half-post-entry .img-bg{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .section-title{
    margin-top:60px; 
  }
  
  


}

.half-post-entry .caption {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-left: 5px solid #CF450B;
  padding-left: 5px;
  }



.half-post-entry .img-bg, .half-post-entry .contents {
  width: 50%;height: 300px;  }
  @media (max-width: 991.98px) {
    .half-post-entry .img-bg, .half-post-entry .contents {
      width: 100%;
      height: 300px; } }

.half-post-entry .img-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.half-post-entry .contents {
  padding: 50px;
  font-size: .9rem;
  height: auto;
   }
@media (max-width: 991.98px) {
  .half-post-entry .contents {
    padding: 30px; } }
.half-post-entry .contents h2 {
  font-size: 26px;
  }
.half-post-entry .contents h2 a {
  color: #000; }

.post-meta {
  font-size: .8rem; }
.post-meta a {
  color: #000; }

.date-read {
  color: #b4b4b4; }

.caption {
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem; }
.caption.small {
  font-size: .6rem; }

.section-title {
  color: #000;
  margin-bottom: 50px;
}
.section-title h2 {
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #222;
  position: relative;
  display: inline-block; }
.section-title h2:before {
  position: absolute;
  content: "";
  height: 1px;
  background: #777; }

.post-entry-1, .post-entry-2 {
  font-size: .9rem;
  margin-bottom: 30px; }
.post-entry-1 img, .post-entry-2 img {
  margin-bottom: 30px; }
.post-entry-1 h2, .post-entry-2 h2 {
  font-size: 20px; }
.post-entry-1 h2 a, .post-entry-2 h2 a {
  color: #000; }

.post-entry-1 img{
  border-radius: 10px;
}

.post-entry-1 .editors_pick_class{
  position: relative;
}

.post-entry-1 .card__date{
  position: absolute;
  right: 0px;
  top:-50%;
  border-radius: 0px;
  background: #f8f9fa;
  color: black;
}

.post-entry-2 {
  font-size: .9rem; 
  height: 70px;
  border-radius: 10px;}
.post-entry-2 .thumbnail {
  background-size: cover;
  background-position: center;
  width: 30%; 
  }
.post-entry-2 .contents {
  width: 70%;
  padding: 10px 20px; }
.post-entry-2 .contents h2 {
  font-size: 15px; }

.post-entry-2:first-child{
  background-color: #F5F5F5;
}

  #top_border {
    width: 80px;
    position: relative;
    border-bottom: 2px solid #d5c6ff;
   
  }





.trend-entry {
  margin-bottom: 30px;
 }
.trend-entry .number {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  font-size: 30px;
  line-height: 1;
  color: #ccc; }
.trend-entry .trend-contents h2 {
  font-size: 18px; 
  padding-top: 5px;
}
.trend-entry .trend-contents h2 a {
  color: #000; }


.more{
  color: red;
}

.more:hover{
  color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;

}

.grid > article {
  
   border-bottom: 1px solid #A9A9A9;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
   border-radius: 20px;
}

.grid > article img {
  object-fit: cover;
  width: 100%;
  height:250px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.grid .text {
  padding: 20px;

}

.editors_pick_line{
  padding-right: 100px;
}

.editors_pick_line hr{
  border: 1px solid #7353BA;
}


.btn{
  border-radius: 25px;
}

.top_post_date{
  position: relative;
}

.top_post_date .card__date{
  position: absolute;
  background: #000;
  bottom:2px;
  right:2px;
  border-radius: 50%;
  
 
}

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.white_line{
  position:relative;
  width:100%;
  height: 5px;
  background-color: white;

}
.Hey{
  font-family: "Trebuchet MS", Sans-serif;
  font-size: 8vw;
  
}




.first_col{
  text-align: center;
  position: relative;
  padding-top: 20%;
  opacity: 0;
}
.comma{
  color:red;
}

.two{
  text-align: center;
}
.abt{
  font-family: "Trebuchet MS", Sans-serif;
  font-size: 25px;
}
.line_below_abt{
  width:100px;
  border: 2px solid red;
  margin-top: 0;
}
.content_abt{
  font-family: "Trebuchet MS", Sans-serif;
  font-size: 17px;
}
.about{
  padding-top:20%;
  opacity: 0;
}

.learn_more{
  margin-top: 20px;
  background-color: #FC4C4E;
  font-family: "Trebuchet MS", Sans-serif;
  font-size: 20px;
  border-radius: 20px;
  color: white;
}

.wel{
  margin-bottom: 70px;
}

.follow{
  text-align: center;
  width:50%;
  position: relative;
  left:25%;
  border-radius: 20px;
  margin-bottom: 70px;
  opacity: 0;
}
.fl{
  font-family: "Trebuchet MS", Sans-serif;
  font-size: 17px;
}

.log{
  color:black;

}






 .car1 .carousel-item-next,
 .car1 .active.carousel-item-right {
  -webkit-animation-name: zoomIn;
  -moz-animation-name: zoomIn;
  -ms-animation-name: zoomIn;
  -o-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
 }

 .car1 .carousel-item-prev,
 .car1 .active.carousel-item-left {
  -webkit-animation-name: zoomOut;
  -moz-animation-name: zoomOut;
  -ms-animation-name: zoomOut;
  -o-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
 }

