@keyframes ldio-eghb1o29ntu {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-eghb1o29ntu div { box-sizing: border-box!important }
.ldio-eghb1o29ntu > div {
  position: absolute;
  width: 71.28px;
  height: 71.28px;
  top: 18.36px;
  left: 18.36px;
  border-radius: 50%;
  border: 2.16px solid #000;
  border-color: #1d0e0b transparent #1d0e0b transparent;
  animation: ldio-eghb1o29ntu 1s linear infinite;
}
.ldio-eghb1o29ntu > div:nth-child(2) { border-color: transparent }
.ldio-eghb1o29ntu > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-eghb1o29ntu > div:nth-child(2) div:before, .ldio-eghb1o29ntu > div:nth-child(2) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 2.16px;
  height: 2.16px;
  top: -2.16px;
  left: 32.400000000000006px;
  background: #1d0e0b;
  border-radius: 50%;
  box-shadow: 0 69.12px 0 0 #1d0e0b;
}
.ldio-eghb1o29ntu > div:nth-child(2) div:after { 
  left: -2.16px;
  top: 32.400000000000006px;
  box-shadow: 69.12px 0 0 0 #1d0e0b;
}
.loadingio-spinner-dual-ring-vr5oat4r6d {
	position: fixed;
  top: 50%;
  left: 50%;
  opacity:1;
  margin-top: -54px;
  margin-left: -54px;
  width: 108px;
  height: 108px;
  display: inline-block;
  overflow: hidden;


}






.ldio-eghb1o29ntu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-eghb1o29ntu div { box-sizing: content-box; }

.loader{
  width:100%;
  height:100%;
  background-color: white;
  z-index: 1;
}